/* COMMON  */
body {
    font-family: Arial, sans-serif;
}

.img {
    width: 100%;
    height: auto;
}
.img--small {
    width: 60%;
}
.img--rounded {
    border-radius: 1rem;
}

/* COLORS  */
.bg--gray {
    background-color: gray;
}

/* HERO SECTION  */
.hero {
    height: 700px;
    background-color: black;
    background-size: cover;
    background-position: center;
}
.hero__returnal {
    background-image: url(../img/jumbo-bg.png);
}
.hero__ratchet {
    background-image: url(../img/ratchet-and-clank-rift-apart-keyart.jpg);
}
.hero__itTakesTwo {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}
.hero__tonyHawkes {
    background-image: url(../img/tony-hawks-pro-skater-1-2-store-art.jpg);
}
.hero__crashBandicoot {
    background-image: url(../img/crash-bandicoot-4-its-about-time-store-art.jpg);
}



/* CARUSEL */
.carusel--black {
    background-color: black;
}
.carusel__option--trasparent {
    opacity: 0.6;
}
.carusel__option--trasparent.active {
    opacity: 1;
}

/* CALL TO ACTION  */
