/* --- COLORS VARIABLES  --- */
:root {
    --pureblack: #000000;
    --black: #1f1f1f;
    --black-opacity: rgba(31, 31, 31, .7);
    --gray: #d9dadc;
    --white: #ffffff;

    --lightBlue: #2d64e6;
    --blue: #00439c;
    --darkBlue: #161c3c;

    --red: #cc3f0f;
}

/* --- COMMON  --- */
body {
    font-family: Arial, sans-serif;
}
main {
    padding-top: 120px;
}

/* --- RESET LINKS --- */
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: inherit;
}

/* --- COMPONENTS ---  */
/* HEADER  */
.c-header__logo {
    height: 1rem;
}

/* HERO SECTION  */
.c-hero {
    position: relative;
    padding-top: 15%;
    background-color: var(--black);
    box-sizing: border-box;
}
.c-hero__bg {
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
    position: absolute;
    opacity: .95;
}
.c-hero__content {
    position: relative;
    z-index: 1;
    padding-bottom: 1.5rem;
}
.c-hero__content > * {
    margin-bottom: 1rem;
}
.c-hero__logo {
    width: 60%;
    margin-bottom: 1rem;
}

/* RADIO SELECTION  */
.c-radio {
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.c-radio__input {
    position: absolute;
    opacity: 0;
    left: 0;
}
.c-radio__label--trasparent {
    opacity: .5;
    text-align: center;
}
.c-radio__label--trasparent:hover {
    opacity: 1;
}
.c-radio__label--trasparent > * {
    margin-bottom: 1rem;
}
.c-radio__input:checked + .c-radio__label--trasparent{
    opacity: 1;
    border-bottom: solid 2px var(--pureblack);
}
.c-radio__label--borded {
    padding: .1rem;
    transition: transform .5s;
}
.c-radio__label--borded:hover {
    transform: translateY(-15%);
}
.c-radio__input:checked + .c-radio__label--borded {
    box-shadow: 0px 0px 0px 2px var(--pureblack);
    border-radius: 1rem;
}
@media screen and (min-width: 992px) {
    .c-radio {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

/* CARD  */
.c-card {
    margin-bottom: 1rem;
    text-align: left;
}
*[class^=c-card__] {
    margin-bottom: .5rem;
}
*[class^=c-card__]:last-child {
    margin-bottom: 0;
}
.c-card--center {
    text-align: center;
}
@media screen and (min-width: 992px) {
    .c-card {
        margin-bottom: 2rem;
    }
}

/* CALL TO ACTION  */
.c-cta {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

/* FOOTER  */
.c-list {
    list-style: none;
    margin: 0;
}
.c-list li {
    margin: .25rem 0;
}

/* BUTTON  */
.c-btn {
    display: inline-block;
    vertical-align: middle;
    background-color: transparent;
    padding: .375rem .75rem;
    border-radius: 3rem;
}
.c-btn--black {
    background-color: var(--black);
    color: #fff;
}
.c-btn--black:hover {
    background-color: var(--black-opacity);
    box-shadow: inset 0 0 0 2px #fff;
    color: #fff;
}
.c-btn--blue {
    background-color: var(--lightBlue);
    color: #fff;
}
.c-btn--blue:hover {
    background-color: var(--lightBlue);
    box-shadow: inset 0 0 0 2px var(--white);
    color: #fff;
}
.c-btn--red {
    background-color: var(--red);
    color: #fff;
}
.c-btn--red:hover {
    background-color: var(--red);
    box-shadow: inset 0 0 0 2px var(--black);
    color: var(--white);
}
.c-btn--light {
    background-color: rgba(255, 255, 255, .2);
    color: var(--lightBlue);
}
.c-btn--light:hover {
    background-color: rgba(255, 255, 255, .2);
    box-shadow: inset 0 0 0 2px currentColor;
    color: var(--lightBlue);
}

/* --- HELPERS --- */
/* TITLES  */
.h-title--1 {
    font-size: 3rem;
}
.h-title--2 {
    font-size: 2rem;
}
.h-title-3 {
    font-size: 1.5rem;
}

/* TEXT  */
.h-text--pretitle {
    text-transform: uppercase;
    color: var(--lightBlue);
    margin-bottom: 0;
}
.h-text--description {
    color: var(--gray);
    margin-top: 1rem;
}

/* IMAGES  */
.c-img {
    width: 100%;
}
.h-img--w100 {
    width: 100%;
}
.h-img--small {
    width: 60%;
}
.h-img--rounded {
    border-radius: 1rem;
}
.h-img--logo {
    height: 5rem;
    width: auto;
}
.h-img--smallIcon {
    width: 1.5rem;
    margin-right: .5rem;
}

/* COLORS  */
.h-bg--white {
    background-color: var(--white);
}
.h-bg--gray {
    background-color: var(--gray);
}
.h-bg--blue {
    background-color: var(--blue);
    color: #fff;
}
.h-bg--darkBlue {
    background-color: var(--darkBlue);
    color: #fff;
}
.h-bg--black {
    background-color: var(--black);
    color: #fff;
}
.h-bg--pureBlack {
    background-color: var(--pureblack);
}

/* SHOW BLOCK AT MD */
.h-block--mdShow {
    display: none;
}
@media screen and (min-width: 768px) {
    .h-block--mdShow {
        display: block;
    }
}